/* 
Theme Name: Bootstrap 4 Sass
Description: Bootstrap 4 with Sass
*/

// import files
@import "import";

// Font awesome
@import "fontawesome/fontawesome.scss";
@import "fontawesome/regular.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/brands.scss";


@import '../js/owl-carousel/assets/owl.carousel.css';
//@import '../scripts/lity/lity.min.css';

///////////////////////////////////////////////////////
//
// General Scaffolding
//
///////////////////////////////////////////////////////

body {
    background: $white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility; 
}

.page-block {
	@include make-col-ready();
	
	@include media-breakpoint-up(sm) {
		@include make-col(3);
	}
	
	margin-bottom: 30px;
}


///////////////////////////////////////////////////////
//
// General Scaffolding
//
///////////////////////////////////////////////////////



///////////////////////////////////////////////////////
//
// Page Header
//
///////////////////////////////////////////////////////

.page-header {}

	.page-brand {
		@include make-col-ready();
		
		@include media-breakpoint-up(sm) {
			@include make-col(4);
		}
	}
	
	.primaryNavigation {
		@include make-col-ready();
		
		@include media-breakpoint-up(sm) {
			@include make-col(8);
		}
	}


///////////////////////////////////////////////////////
//
// General Scaffolding
//
///////////////////////////////////////////////////////
